<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Campeonato</th>
        <th>País</th>
        <th>Temporada</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Campeonato Brasileiro Série A</td>
        <td>Brasil</td>
        <td>2022</td>
      </tr>
      <tr>
        <td>La Liga</td>
        <td>Espanha</td>
        <td>2021/2022</td>
      </tr>
      <tr>
        <td>Premier League</td>
        <td>Inglaterra</td>
        <td>2021/2022</td>
      </tr>
      <tr>
        <td>Serie A</td>
        <td>Itália</td>
        <td>2021/2022</td>
      </tr>
      <tr>
        <td>Bundesliga</td>
        <td>Alemanha</td>
        <td>2021/2022</td>
      </tr>
    </tbody>
  </table>
</div>
