<div class="container">
  <div class="row">
    <div class="col-md-4">
        <img src="https://placehold.co/400x400" alt="Clube Fictício" class="img-fluid">
      </div>
    <div class="col-md-8">
        <div class="col-md-8">
            <h1><%= club.name %></h1>
            <h2><%= club.city %></h2>
            
            <h4>Histórico</h4>
            <table class="table table-responsive table-bordered">
              <thead>
                <tr>
                  <th>Campeonato</th>
                  <th>Posição</th>
                  <th>Pontos</th>
                  <th>Vitórias</th>
                  <th>Derrotas</th>
                  <th>Empates</th>
                  <th>Gols Pró</th>
                  <th>Gols Sofridos</th>
                  <th>Melhor Participação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Brasileirão</td>
                  <td>5º</td>
                  <td>65</td>
                  <td>18</td>
                  <td>9</td>
                  <td>11</td>
                  <td>56</td>
                  <td>42</td>
                  <td>Campeão (2010)</td>
                </tr>
                <tr>
                  <td>Libertadores</td>
                  <td>Quartas de Final</td>
                  <td>---</td>
                  <td>---</td>
                  <td>---</td>
                  <td>---</td>
                  <td>---</td>
                  <td>---</td>
                  <td>Semifinalista (2011)</td>
                </tr>
              </tbody>
            </table>
            
            <h3>Jogadores</h3>
            <ul>
              <li>Jogador 1</li>
              <li>Jogador 2</li>
    </div>
  </div>
</div>
      
      
          
  
