<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- Imagem do clube aqui -->
    </div>
    <div class="col-md-8">
      <!-- Nome do clube e cidade aqui -->
      <!-- Histórico do clube aqui -->
      <!-- Lista de jogadores aqui -->
    </div>
  </div>
</div>
